{{ $title := .Params.title | default .Site.Title }}
{{ $subtitle := .Params.subtitle | default .Site.Params.description }}
{{ $cta_text := .Params.cta_text | default "Kontakt oss" }}
{{ $cta_url := .Params.cta_url | default "/kontakt/" }}
{{ $hero_image := .Params.hero_image }}

<section class="hero"{{ with $hero_image }} style="background-image: url('{{ . }}')"{{ end }}>
  <div class="container">
    <div class="hero__content">
      <img src="/images/uploads/elgane_logo.png" alt="Elgane Motorsykkelklubb" class="hero__logo">
    </div>
  </div>
</section>
